save-exact=false
strict-peer-dependencies=false
auto-install-peers=true

link-workspace-packages=deep
prefer-workspace-packages=true
save-workspace-protocol=rolling

dedupe-direct-deps=true
dedupe-peer-dependents=true

resolve-peers-from-workspace-root=true

enable-pre-post-scripts=true
